<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='home.css')}}">
    <title>Login Page</title>
</head>

<body>
    <form action="">
        <div class="top-nav">
            <label class="Logo" style="position: absolute;top:0;left: 3%;color:white;color:rgb(204, 36, 36);font-size: 25px;padding-top:15px">X</label>
            <label class="Logo2">Organization</label>
            <ul>
                <li><a href="#">Signup</a></li>
                <li><a href="#">Login</a></li>
            </ul>

        </div>

        <div class="login-box">
            <div class="side-div">
                <P>Student organization is a way to get involved with campus life<br> and put your skills to use. It’s a great opportunity to learn more <br> about yourself and become a better future leader</P>
            </div>
            <input class="username" type="text" name="username" required>
            <input class="password" type="password" name="password" required>
            <input class="btn-login" type="submit" value="Login">
        </div>

    </form>

    <div class="image-box"></div>
</body>

</html>