<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='statistic.css')}}">

    <title>Document</title>
</head>

<body>


    <div class="side-nav">
        <label class="Logo" style="position: absolute;top:20px;left: 15px;color:white;color:rgb(204, 36, 36);font-size: 25px">X</label>
        <label class="Logo2">Organization</label>
        <a href="/overview">
            <button id="btn-overview" type="submit">
            <img src="static/image/overview_icon.png" alt="overview" style="width: 15px; height:15px;position:absolute;left: 15px;top:8px">
            Overview
        </button>
        </a>

        <a href="/archieved">
            <button class="btn-2" id="btn-archieved">
            <img src="static/image/archieve.png" alt="transaction" style="width: 17px; height:17px;position:absolute;left: 15px;top:5 px">
            Archieved
        </button>
        </a>

        <a href="/organizations">
            <button class="btn-3" id="btn-org" type="submit">
            <img src="static/image/add-group.png" alt="membership" style="width: 17px; height:17px;position:absolute;left: 15px;top:8px">
            Organization
        </button>
        </a>
        <button class="btn-4" id="btn-stats" style="background-color:rgb(225, 120, 1);">
            <img src="static/image/statistics.png" alt="statistics" style="width: 17px; height:17px;position:absolute;left: 15px;top:8px">
            Statistics
        </button>
        <button class="btn-5" id="btn-logout">
            <img src="static/image/logout2.png" alt="logout" style="width: 17px; height:17px;position:absolute;left: 15px;top:8px">
            Logout
        </button>
        <button class="btn-6" id="btn-settings">
            <img src="static/image/customer-support.png" alt="settings" style="width: 17px; height:17px;position:absolute;left: 15px;top:8px">
            Settings
        </button>



    </div>

</body>

</html>